.Wrapper {
  border-width: 43px 48px 49px 46px;
  border-style: solid;
  border-image: url("../../asset/img/popup-bg.png");
  border-image-slice: 86 96 99 92 fill;
  border-image-repeat: round;
  position: relative;

  .Label {
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translateX(-50%);
    border-width: 56px 56px 0 56px;
    border-style: solid;
    border-image: url("../../asset/img/popup-title-01.png");
    border-image-slice: 113 116 0 115 fill;
    border-image-repeat: round;

    div {
      white-space: nowrap;
      color: var(--color-0);
      font-weight: bold;
      font-size: 1.3em;
      margin-top: -1.9em;
    }
  }
}
