.Wrapper {
  position: relative;
  filter: var(--slight-shadow);

  input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 15px;
    border: 1px solid var(--color-5);

    &:focus,
    &:active {
      outline: none;
      border: 1px solid var(--color-6);
    }
  }

  .WithIcon {
    padding-left: 35px;
  }

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
