.Wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;

  .Crosshairs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 5px solid #ffffff55;
    background-color: #ffffff22;
    animation: CrosshairsRotation 1s 1s ease-in-out infinite;

    &::after {
      content: "";
      position: absolute;
      width: 0.1em;
      height: 1em;
      left: 50%;
      top: 0;
      display: block;
      background-color: #ffffff77;
      transform: translate(-50%, -0.65em);
      animation: CrosshairsZoomA 0.5s 1s ease-in-out infinite alternate;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0.1em;
      height: 1em;
      left: 50%;
      bottom: 0;
      display: block;
      background-color: #ffffff77;
      transform: translate(-50%, 0.65em);
      animation: CrosshairsZoomB 0.5s 1s ease-in-out infinite alternate;
    }

    .CrosshairsHelper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      width: 2em;
      height: 2em;

      &::after {
        content: "";
        position: absolute;
        width: 0.1em;
        height: 1em;
        left: 50%;
        top: 0;
        display: block;
        background-color: #ffffff77;
        transform: translate(-50%, -0.35em);
        animation: CrosshairsZoomC 0.5s 1s ease-in-out infinite alternate;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0.1em;
        height: 1em;
        left: 50%;
        bottom: 0;
        display: block;
        background-color: #ffffff77;
        transform: translate(-50%, 0.35em);
        animation: CrosshairsZoomD 0.5s 1s ease-in-out infinite alternate;
      }
    }
  }

  @keyframes CrosshairsRotation {
    from {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }

  @keyframes CrosshairsZoomA {
    from {
      transform: translate(-50%, -0.65em);
    }
    to {
      transform: translate(-50%, -0.45em);
    }
  }

  @keyframes CrosshairsZoomB {
    from {
      transform: translate(-50%, 0.65em);
    }
    to {
      transform: translate(-50%, 0.45em);
    }
  }

  @keyframes CrosshairsZoomC {
    from {
      transform: translate(-50%, -0.35em);
    }
    to {
      transform: translate(-50%, -0.15em);
    }
  }

  @keyframes CrosshairsZoomD {
    from {
      transform: translate(-50%, 0.35em);
    }
    to {
      transform: translate(-50%, 0.15em);
    }
  }
}
