.PrimaryButton {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: var(--color-7);
  background-color: var(--color-3);
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  overflow: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  position: relative;
  user-select: none;

  &:hover {
    filter: contrast(2);
  }
}

.SecondaryButton {
  @extend .PrimaryButton;
  background-color: var(--color-5);

  &:hover {
    filter: contrast(2);
  }
}

.TertiaryButton {
  @extend .PrimaryButton;
  background-color: var(--color-0);

  &:hover {
    filter: contrast(2);
  }
}

.OutlineButton {
  @extend .PrimaryButton;

  border: 2px solid var(--color-7);
  color: var(--color-7);
  background: initial;

  &:hover {
    background-color: var(--color-7);
    color: var(--color-6);
    filter: none;
  }
}

.OutlineInverseButton {
  @extend .OutlineButton;

  border: 2px solid var(--color-6);
  color: var(--color-6);
  background: initial;

  &:hover {
    border: 2px solid var(--color-6);
    color: var(--color-7);
    background-color: var(--color-6);
  }

  &.Selected {
    color: var(--color-7);
    background-color: var(--color-6);
  }
}

.IconMargin {
  margin-right: 10px;
}

.Loading {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.Disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
}

.Selected {
  color: var(--color-6);
  background-color: var(--color-7);
}

.ImageButton {
  cursor: pointer;
  position: absolute;
  width: 50%;
  left: 0;
  transition: opacity 0.3s;
}

.NormalImage {
  @extend .ImageButton;
  opacity: 1;
  position: relative;

  &:hover {
    opacity: 0;
  }
}

.FocusImage {
  @extend .ImageButton;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    opacity: 1;
  }
}
