.Wrapper {
  background: url("../../../asset/img/stage-top-bg.png");
  background-size: auto 100%;
  width: 100%;
  height: 5em;
  animation: Show 1s 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;

  .Content {
    font-size: 2em;
    color: var(--color-0);
    margin-top: -0.4em;
  }
}

@keyframes Show {
  from {
    margin-top: -5em;
  }
  to {
    margin-top: 0;
  }
}
