.Wrapper {
  background: url("../../../asset/img/stage-top-bg.png");
  background-size: auto 100%;
  width: 100%;
  height: 5em;
  animation: Show 1s 2s forwards;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;

  .Avatar {
    margin: 0.5em 0 0 2em;
  }

  .Name {
    color: var(--color-2);
    font-size: 1.5em;
    margin: -0.4em 0 0 -2em;
    border-width: 7px 7px 7px 7px;
    border-style: solid;
    border-image: url("../../../asset/img/status-bg-color.png");
    border-image-slice: 15 15 15 15 fill;
    border-image-repeat: round;
    align-self: center;
    padding: 0 0.5em 0 2em;
  }

  .Error {
    margin-left: 2em;
    height: 4.25em;
  }
}

@keyframes Show {
  from {
    margin-top: -5em;
  }
  to {
    margin-top: 0;
  }
}
