.Wrapper {
  background: url("../../../asset/img/stage-top-bg.png");
  background-size: auto 100%;
  width: 100%;
  height: 5em;
  animation: Show 1s 2s forwards;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;

  .Avatar {
    margin: 0.5em 2em;
  }

  .Error {
    margin-left: 2em;
    height: 4.25em;
  }
}

@keyframes Show {
  from {
    margin-top: -5em;
  }
  to {
    margin-top: 0;
  }
}
