.Wrapper {
  position: relative;
  animation: Show 1s 3s forwards;
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateX(calc(100% + 2em));
  padding: 0;
}

@keyframes Show {
  from {
    transform: translateX(calc(100% + 2em));
  }
  to {
    transform: translateX(0%);
  }
}
