.Avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid var(--color-6);
}

.Menu {
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  justify-content: flex-start;
}
