.BaseButton {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: var(--color-0);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  overflow: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  position: relative;
  user-select: none;

  &:hover {
    filter: brightness(1.5);
  }
}

.PrimaryButton {
  @extend .BaseButton;

  border-width: 12px 24px 23px 24px;
  border-style: solid;
  border-image: url("../../../asset/img/btn-color-brown.png");
  border-image-slice: 25 49 47 49 fill;
  border-image-repeat: round;
}

.SecondaryButton {
  @extend .BaseButton;

  border-width: 12px 24px 23px 24px;
  border-style: solid;
  border-image: url("../../../asset/img/btn-color-blue.png");
  border-image-slice: 25 49 47 49 fill;
  border-image-repeat: round;
}

.TertiaryButton {
  @extend .BaseButton;

  border-width: 12px 24px 23px 24px;
  border-style: solid;
  border-image: url("../../../asset/img/btn-color-green.png");
  border-image-slice: 25 49 47 49 fill;
  border-image-repeat: round;
  color: var(--color-1);
}

.CloseButton {
  @extend .BaseButton;

  width: 52px;
  height: 58px;
  background-image: url("../../../asset/img/popup-btn-close.png");
  background-size: 100%;
}

.IconMargin {
  margin-right: 10px;
}

.Loading {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.Disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
}

.Selected {
  color: var(--color-6);
  background-color: var(--color-7);
}
