.Wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../asset/img/background.png");
  background-size: cover;
  opacity: 0;
  animation: FadeIn 0s 2s forwards;
  display: flex;
  flex-direction: column;

  .Content {
    position: relative;
    width: 100%;
    flex: 1;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2em;
    grid-template-columns: 1fr 3fr;
    padding: 2em;
    overflow: hidden;

    .StartButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      > img {
        width: 50%;
      }
    }
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
