.Wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../../asset/img/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  z-index: 99;
  pointer-events: none;

  .Content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: FadeIn 0.3s 0.2s forwards;

    .Character {
      width: 15%;
      max-width: 400px;
      height: auto;
      user-select: none;
    }

    .Title {
      color: var(--color-0);
      font-size: 3em;
      filter: drop-shadow(2px 2px 2px var(--color-1));
      font-family: "Chango", cursive;
      text-align: center;
      user-select: none;
    }

    .Preloader {
      width: 40%;
      height: 58px;
    }

    .PreloaderLine {
      transition: width 1.5s;
    }
  }
}

.Loaded {
  animation: FadeOut 1s 2s forwards;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
