.Wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;

  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .InputArea {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;

      .InputBlock {
        margin-bottom: 0.5em;
        display: flex;
        align-items: stretch;
        flex-direction: column;
      }
    }

    .ActionArea {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      span {
        margin: 10px;
        display: inline-block;
      }
    }
  }
}
